.container{
    color: black;
}

.container .width-50 {
    width: 100%;
}

@media (min-width: 700px) {
    .container .width-50 {
        width: 50%; 
    }
}

.bold{
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.center{
    text-align: center;
}

.font-size-2x{
    font-size: 1.1rem;
}